<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - ExampleWebsite</title>
    <link type="text/css" rel="stylesheet" href="~/dist/app.css" asp-append-version="true" async>
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>

    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true" async></script>
</body>
</html>